.nav-container {
  background-color: #13131330;
  min-height: 75px;
  padding: 15px;
}
.nav-elements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .list-items {
    display: none;
  }
}

.list-mini {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-logo {
  display: none;
}
@media screen and (min-width: 767px) {
  .profile-logo {
    display: block;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    color: #ffffff;
    height: 28px;

    margin-left: 10px;
  }
}

.icon {
  color: #ffffff;
  height: 25px;

  margin-left: 10px;
}

.active-one {
  color: #ffffff;
  font-weight: 800;
  border-bottom: 2px solid blue;
}

.passive-one {
  color: #ffffff90;
}

.link {
  text-decoration: none;
  outline: none;
}
.search {
  size: 20px;
  background-color: #131313;
  border-width: 2px 1px 0.5px 1px;
  border-color: grey;
  margin-right: 8px;
  width: 125px;
  color: white;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #909090;
  width: 70px;
  border: none;
  cursor: pointer;
}
.icons-container {
  display: flex;
  justify-content: center;
}
.icon-button {
  background-color: transparent;
  border-width: 0;
  padding-top: 5px;
  margin-top: 4px;
}

.pop-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;
  margin-left: 35px;

  color: #ffffff;
}

.home-heading {
  font-family: HK Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
  align-self: flex-start;
}
