.popular-poster {
  width: 140px;
  margin: 8px 8px 8px 0px;
  height: 160px;
  border-radius: 8px;
}
.app-container {
  background-color: #181818;
  height: 100vh;
  overflow-y: scroll;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-slick-item {
  background: transparent;
}

.slick-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-slick-heading {
  color: #ffffff;
  width: 80%;
}

@media (max-width: 767px) {
  .react-slick-heading {
    font-size: 20px;
  }
}

.popular-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 15px;
}
.popular-item {
  display: table;
  float: left;
  width: 33.33%;
  padding: 10px;
}
